*{
    padding: 0;
    border: 0;
    margin: 0;
    outline: none;
    appearance: none;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font: 400 16px/24px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
h1{
    font-size: 75px;
}

.time{
    font-size: 50px;
}
.time--hide{
    display: none;
}
.date{
    font-size: 25px;
}
.btn{
    height: 40px;
    padding: 0 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background: #000000;
    color: #ffffff;
}

